.transactionHistory {
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.transactionHistory thead {
  background-color: aqua;
  color: #fff;
  height: 30px;
}

.transactionHistory th {
  width: 250px;
  border: 1px solid #fff;
}

.transactionHistory td {
  text-align: center;
  height: 30px;
  border: 1px solid grey;
}

.transactionHistory tr:nth-child(2n) {
  background: #f0f0f0;
}
